{
  "name": {{.PackageNameJSON}},
  "private": true,
  "scripts": {
    "dev": "likec4 start",
    "build": "likec4 build",
    "validate": "likec4 validate --json --no-layout"
  },
  "devDependencies": {
    "likec4": {{.LikeC4VersionJSON}}
  }
}
